<?xml version="1.0" encoding="utf-8"?>
<!--指定数据库连接字符串（名称/值对的形式）的集合。-->
<connectionStrings>
  <add name="Connection String" connectionString="F87F9F9767D21464EDB99DCED9BC9B9E89B88604274358C903FF85B5E87B6F91D5DCBB6D4002D5A7556A0E4AFC74E467309241E3C414C96BCC4CEAE1E553BE7FE1FD346B4EF383134A09519BEB20BD73C2B44A37674902AA96F3B87D9159798C4986C7209DE38D2F01D500E6CDCA7A5F" providerName="System.Data.SqlClient" />
  <add name="Plug Connection String" connectionString="Data Source=(local);Initial Catalog=kingdee;User ID=kingdee;Password=kingdee" providerName="System.Data.SqlClient" />
  <add name="OraConnection String" connectionString="Data Source=ZoomLa;User ID=zoomla;Password=zoomla" providerName="System.Data.OracleClient" />
</connectionStrings>